#buttonsContainer {
  margin-top: 2.5rem !important;
}

/* Para los botones en pantallas pequeñas */
@media (max-width: 510px) {
  #buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
