/* Estilos Globales - Usar en todas las plantillas */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Navbar fija */
.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1030; /* Asegúrate de que la navbar esté siempre encima de otros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
}

/* Añadir espacio a la parte superior del contenido principal para evitar que la navbar lo cubra */
.main-content {
  margin-top: 70px; /* Ajusta según la altura de la navbar */
}

/* Navbar - Usar en todas las plantillas */
.navbar-nav {
  margin-left: auto;
}

.nav-item .dropdown-menu {
  left: auto;
  right: 0;
}

/* Aseguramos que el contenido no quede debajo de la barra de navegación */
#bodyContainer {
  padding-top: 100px; /* Ajusta este valor según la altura de tu navbar */
}

/* Footer - Usar en todas las plantillas */
footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

footer a {
  color: #f8f9fa;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Paginación */
.pagination {
  margin-top: 30px;
}
