<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center opacity-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="card-header"><strong><p th:text="${contenido}"></p></strong></h1>
    <div class="card-body">
        <form th:action="@{/caladero/salvar-caladero}" th:object="${caladero}" method="post">
            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
                Verifique los siguientes errores
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                </ul>
            </div>
            <div class="row gx-5">
                <div class="col-mf-5">
                    <div class="form-group">
                        <label for="ubicacion">Ubicación </label>
                        <input type="text" class="form-control" id="ubicacion"
                               name="ubicacion"
                               placeholder="Ubicación..." required
                               th:value="${caladero.ubicacion}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="extension">Extension </label>
                        <input type="text" class="form-control" id="extension"
                               name="extension"
                               placeholder="Extension..." required
                               pattern="^\d*(\.\d{0,2})?$"
                               th:value="${caladero.extension}">
                    </div>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            <input type="hidden" name="id_clo" th:value="${caladero.id_clo}"/>
        </form>
    </div>

</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>