<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:insert="layout::nav"></nav>

<div class="container mt-5">
    <table class="table table-stripped table-bordered">
        <thead>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th>Estatura</th>
            <th>Estado</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr th:each="alumno : ${alumnos}">
                <td th:text="${alumno.matricula}"></td>
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.paterno}"></td>
                <td th:text="${alumno.fnac}"></td>
                <td th:text="${alumno.estatura}"></td>
                <td th:text="${alumno.estado}"></td>
                <td>
                    <a th:href="@{/front/alumnos/{matricula}(matricula = ${alumno.matricula})}" class="btn btn-success"> Ver</a>
                    <a th:href="@{/front/alumnos/{matricula}/editar(matricula = ${alumno.matricula})}" class="btn btn-primary"> Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:insert="layout::footer"></div>
</body>
</html>