<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center opacity-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 th:text="${contenido}"></h1>
    <h3 th:text="${nombreAplicacion}"></h3>
    <h3 th:text="${fecha}"></h3>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>