<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center opacity-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="card-header"><strong><p th:text="${contenido}"></p></strong></h1>
    <div class="card-body">
        <form th:action="@{/tipo/salvar-tipo}" method="post">

            <div class="row gx-5">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                               placeholder="Nombre del tipo" required="required"
                                th:value="${nombre}">
                    </div>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </form>
    </div>

</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>