<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Spring</title>

    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/tema/miestilo.css}" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <div class="container-fluid  text-center">
        <div class="row">
            <div class="col-lg-2 navbar bg-dark">
                <a class="navbar navbar-brand" style="color:white" th:href="@{/}">Spring Web MVC</a>
                <a class="btn btn-outline-primary" th:href="@{/(lang=es_MX)}">es</a>
                <a class="btn btn-outline-primary" th:href="@{/(lang=en_US)}">en</a>
            </div>
            <div class="col navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Lote</a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/lote/lista-lote}">Buscar Lote</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/lote/alta-lote}">Alta Lote</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown2">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdownMenuLink2" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">Tipo</a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/tipo/lista-tipo}">Lista Tipo</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/tipo/alta-tipo}">Alta Tipo</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Opcion 1</a>
                                <li><a class="dropdown-item" href="#">Opcion 2</a>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown3">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdownMenuLink3" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Especie</a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/especie/lista-especie}">Lista Especie</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/especie/alta-especie}">Alta Especie</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/especie/buscar-especie}">Buscar especie por nombre</a>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown4">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdownMenuLink4" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Comprador</a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/especie/lista-especie}">Buscar Comprador</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/comprador/alta-comprador}">Alta Comprador</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown5">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdownMenuLink5" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Compra</a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/compra/alta-compra}">Alta Compra</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 navbar bg-dark">
                <a class="btn btn-outline-primary" th:href="@{/login}">Sesion</a>
            </div>
            <div class="col-lg-1 navbar bg-dark">
                <form id="logout" th:action="@{/logout}" method=post>
                    <button class="btn btn-outline-primary"
                            onclick="document.getElementById('logout').submit();"
                            type="submit">Cerrar Sesion
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="alert alert-success" th:if="${success !=null}" th:text=${success}></div>
    <div class="alert alert-danger" th:if="${error !=null}" th:text=${error}></div>
    <div class="alert alert-warning" th:if="${warning !=null}" th:text=${warning}></div>
    <div class="alert alert-info" th:if="${info !=null}" th:text=${info}></div>
</header>
<footer th:fragment="footer">
    <div class="container text-center">
        <br/> <img th:src="@{/imagen/logo.jpg}" height="150" width="500"/>
        <p>Dirección General de Cómputo y de Tecnologias de información y Comunicación</p>
    </div>
    <script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
    <script th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
    <script th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</footer>
</body>
</html>
